# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Binary output directory
/bin/
bin/*

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables file
.env

# Temporary files
*.tmp

# Viper config files
config/*.yaml
config/*.yml
config/*.json
config/*.toml
config/*.ini
*.env

# Except for the example config file
!config/example.yml

# Data
data/*

# Milvus
milvus/*
!milvus/standalone_embed.sh
